.redcircle-link:link {
    color: #ea404d;
    text-decoration: none;
}
.redcircle-link:hover {
    color: #ea404d;
}
.redcircle-link:active {
    color: #ea404d;
}
.redcircle-link:visited {
    color: #ea404d;
}
